@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media {

    :root {
        /*Text Color*/
        --foreground-rgb: 255, 255, 255;
        /*Background gradient*/
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.tag-list {
    display: inline-flex;
    border: 1px solid #a0a0a0;
    background-color: #f0f5f9;
    border-radius: 9999px;
    padding: 0.5rem 1.5rem;
    color: #6cb2eb;
    border: 2px solid #6cb2eb;
    background-color: rgba(108, 178, 235, 0.1);
    gap: 0.5rem;
}

.tag-list-item {
    margin: 1rem;
}




body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
    font-family: "Calibre","Inter","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
